* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Flex body to column*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Roboto, sans-serif;
}

/*Styling of list*/
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.section-1 {
    background-color: #1f2937;
}

/*Flex the navigation link*/
.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px;
}

/*Flex the right links*/
.right-links {
    display: flex;
    gap: 16px;
}

/*Styling for right navigation links*/
.right-links a,
.text {
    font-size: 18px;
    color: #e5e7eb;
}

/*Styling for logo*/
.logo a {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
}

/*--------Hero----------*/
.hero {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 16px;
    height: 30vh;

}

/*To be changed later to align content with nav*/
.hero-text,
.hero-img {
    max-width: 480px;
}

/*Placeholder for image*/
.hero-img {
    width: 480px;
    height: 192px;
    background-color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Styling of hero text*/
.title{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

/*Styling for button*/
.hero-text button {
    padding: 8px 24px;
    border-radius: 8px;
    background-color: #3882f6;
    margin-top: 10px;
    color: white;
    font-weight: 600;
    border: 0px;
}

.text {
    margin-top: 10px;
}

/*---------------------------Section two-------------------------*/
/*Provide display flex with column to arrange elements vertically*/
.section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
    gap: 60px;
    margin-top: 20px;
}

/*Styling for section two heading*/
.section-two-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

/*---------------------------Container CSS--------------------------*/
/*Flex the container to arrange card in a row*/
.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*Set width for each card*/
.card {
    width: 200px;
}

/*Create a border for the block*/
.block {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    border: 2px solid #3882f6;
}

/*Set width for the block-info*/
.block-info {
    width: 150px;
    text-align: center;
    margin-top: 10px;
    font-weight: lighter;
}




